<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Form</title>
    <link rel="stylesheet" href="Sign_Up.css"> 
</head>
<body>
    <div class="overlay"></div> <!-- Overlay background -->
    <div class="modal-container">
        <form id="signup-form" class="form-container">
            <div class="form-title">Sign Up</div>
            <div class="login-info">
                <span>Already a member? </span>
                <a href="Login.html" class="login-link">Login</a>
            </div>

        <!-- Role Field -->
        <label for="role" class="form-label">Role</label>
        <div class="input-container">
            <select id="role" name="role" class="input-field">
                <option value="enter-role">Enter Role</option>
                <option value="doctor">Doctor</option>
                <option value="patient">Patient</option>
                <option value="admin">Admin</option>
            </select>
        </div>

        <!-- Name Field -->
        <label for="name" class="form-label">Name</label>
        <div class="input-container">
            <input type="text" id="name" name="name" class="input-field" placeholder="Enter your name">
        </div>

        <label for="phone" class="form-label">Phone</label>
        <div class="input-container">
            <input type="text" id="phone" name="phone" class="input-field" placeholder="Enter your phone number">
            <span id="phone-error" class="error-message" style="color: red; display: none;">Invalid phone number format. Use ###-###-####</span>
        </div>

        <!-- Email Field -->
        <label for="email" class="form-label">Email</label>
        <div class="input-container">
            <input type="email" id="email" name="email" class="input-field" placeholder="Enter your email">
        </div>

        <!-- Password Field -->
        <label for="password" class="form-label">Password</label>
        <div class="input-container">
            <input type="password" id="password" name="password" class="input-field" placeholder="Enter your password">
            <span class="toggle-password" onclick="togglePassword()">
                <img id="toggle-icon" src="suImages/mage_eye-off.png" alt="Toggle Password Visibility" />
            </span>
            <span id="password-error" class="error-message" style="color: red; display: none;">Password must be max 25 characters, contain at least one special character, and one number.</span>
        </div>

        <div class="submit-container">
                <button type="submit" class="submit-btn">Submit</button>
            </div>
            <div class="reset-container">
                <button type="reset" class="reset-btn" onclick="resetForm()">Reset</button>
            </div>
        </form>
    </div>
    <script src="Sign_Up.js"></script>
</body>
</html>
